/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*General*/

html{

    font-family: "Oswald", sans-serif;
}

.bg-darkgrey{

    background-color: #23272A;
}

img{

    width: 100%;
}

.bg-grey{

    background-color:#F6F6F6 ;
    
    

}

.button{
    

    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    
}



.button.discord {

    margin-left: 20px;
    background-color: black;
    color: white;

}

.button-light-blue{

    background-color:#7289DA ;
    color: white;
    max-width: 50%;
    align-self: center;
}

hr{

    border-color: white;
}


/*Header*/



.header-top{
    
    
    background-color: #255EE9;
    width: 100%;
   
}


.header-top .container {

    display: flex;
    list-style: none;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    align-items: center;
    
}


.content-25.logo{

    width: 25%;
    padding-left: 40px;
    
    
}

.content-25.login{

    width: 25%;
    padding-right: 40px;
    text-align: right;

}

.content-50{

    width: 50%;
    text-align: center;
    align-content: center;

}


.content-50 nav ul {

    display: flex;
    justify-content: center;
    list-style: none;

}

.content-50 nav ul li > a {
 
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: white;

}

.header-bottom{
    
    display: flex;
    background-image: url(../img/jumbo.png);
    width: 100%;
    min-height: 350px;
    background-size: cover;
    

}


.content-header-bottom{

    width: 60%;
    margin: 60px auto;
    text-align: center;
    
}

.content-header-bottom h2{

    color: white;
    font-size: 2em;
    padding: 20px 0 20px 0;

}

.content-header-bottom p{

    color: white;
    padding-bottom: 20px;
    
    
}


/*Main*/

.section-container{

    display: flex;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    

}


.section-container .content-img{

    width: 60%;
    min-height: 200px;
    

}

.section-container .adv{

    width: 40%;
    min-height: 200px;
    padding-top: 15px;
    

}

.section-container h2{

    font-size: 2em;
    padding-bottom: 20px;
}

.reverse .adv {
    
    order: -1;

}


.section-container.last-section{

    
    min-height: 400px;
    flex-direction: column;
    
    

}

.last-section .content-text{

    width: 100%;
    text-align: center;
    
}

.footer-main{ 

    display: flex;
    width: 50%;
    text-align: center;
    align-self: center;
    justify-content: center; 
    flex-direction: column;
    

}



.footer-main h4{

    
    background-image: url(../img/stars.svg);
    background-size: cover;
    width: 70%;
    margin-bottom: 30px;
    align-self: center;
    
    
   
    
}

/*Footer*/

.container-footer{

    display: flex;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

}

.footer-top{

    display: flex;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;

}

.footer-top .right{

    width: 30%;
    min-height: 250px;
    
}

.footer-top .right h3{

    color:#7289DA ;
    font-size: 1.5em;
    margin-bottom: 10px;

}

.footer-top .right .social-icon > i,
.footer-top span {

    color: white;
}

.ita-flag{

    width: 20px;
}


.social-icon{

    display: flex;
    width: 60%;
    margin-top:10px;
    justify-content: space-between;

}


.footer-top .left{

    display: flex;
    width: 70%;
    min-height: 250px;

}


.left .left-section{

    
    width: 25%;
    min-height: 250px ;
    

}

.left-section h4{

    color:#7289D9;
}

.left-section ul li {

    color: white;
    list-style: none;
    padding-top: 10px;
}

.footer-bottom{

    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.footer-bottom .right, 
.footer-bottom .left{

    
    height: 25px;
    text-align: center;
    line-height: 25px;
    vertical-align: center;
    padding: 0 10px;
    
}

